Source: lcarsde-application-starter
Maintainer: Andreas Tennert <lcarsde@andreas-tennert.de>
Section: misc
Priority: optional
Standards-Version: 4.5.0
Build-Depends: debhelper (>= 9)

Package: lcarsde-application-starter
Architecture: any
Depends: python3, python3-gi
Recommends: fonts-ubuntu
Provides: application starter
Description: Menu of installed applications for LCARSDE
 https://lcarsde.github.io
